@font-face {
  font-family: "Poke-font";
  src: url(./Fonts/PokemonGb-RAeo.ttf) format(truetype);
}

body {
  font-family: "Poke-font", sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}

button {
  font-family: "Poke-font", sans-serif; 
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon-container {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  width : 14rem
}

.pokemon-container img {
  max-width: 150px;
  transition: transform 0.5s ease;
}

button {
  padding: 10px 20px;
  margin: 20px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.health-bar {
  position: relative;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ccc;
}

.health-bar .bar {
  height: 20px;
  background-color: green;
  transition: width 0.5s ease;
}

.health-bar .hit {
  height: 20px;
  background-color: red;
  transition: width 0.5s ease;
}

.health-bar div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
}

@keyframes decreaseHealth {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes attack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hit {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.attack {
  animation: attack 0.5s ease;
}

.hit {
  animation: hit 0.5s ease;
}

.location-card {
  text-align: center;
  width: 10rem;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content:flex-start;
}

.location {
  border-image: url("./Images/frame.png") 7 round;
  border-width: 0.5rem;
}

.pika {
  max-width: 7rem;
  max-height: 7rem;
}

h1, .pika {
  display: inline-flex;
  position: center;
}

.location:hover {
  transform: scale(1.1);
}

.select-pokemon-container {
  image-rendering: pixelated;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  width : 10rem;
  cursor: pointer;

}